numpy
pandas
scipy
matplotlib
seaborn
zarr
dask
tqdm
smart-open
xarray
statsmodels
pandas_plink
git+https://github.com/bogdanlab/lamp-ld.git#egg=pylampld
git+https://github.com/bogdanlab/admixgwas.git#egg=admixgwas