wheel
setuptools
Cython
numpy
pandas
scipy
matplotlib
seaborn
zarr
dask[array]>=2021.11.2
tqdm
xarray
statsmodels
structlog
fire
git+https://github.com/bogdanlab/tinygwas.git#egg=tinygwas
git+https://github.com/KangchengHou/dask-pgen.git#egg=dask-pgen